@import "@/styles/settings/settings.scss";

.title {
  @include title;
  color: $blueFirst;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  width: fit-content;

  &_position {
    &_left {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 800px) {
  .title {
    max-width: 350px;
    margin-left: inherit;
    margin-right: inherit;
  }
}

@media screen and (max-width: 600px) {
  .title {
    @include subtitleMobile;
    padding-bottom: 20px;
  }
}
